<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IP & DNS Recon Tool</title>

    <link
      href="https://bootswatch.com/5/vapor/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhpmA9dtpgBNo3MvA+TRmYKbMAXXrvPImppT/g="
      crossorigin=""
    />

    <style>
      body {
        font-family: "Roboto Mono", monospace;
      }
      .footer-custom {
        background: linear-gradient(90deg, #3a0071, #91338c);
      }

      
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    <nav
      class="navbar navbar-expand-lg bg-dark border-bottom border-body"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">🌐 Recon Tool</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.analyzer') }}"
                >Live Traffic Analyzer</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="flex-shrink-0">
      <div class="container mt-4">{% block content %}{% endblock %}</div>
    </main>

    <footer class="footer mt-auto py-3 footer-custom">
      <div class="container text-center">
        <span class="text-white">Copyright &copy; 2025 Recon Tool</span>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
